In [ ]:
### Today am going to do class assignment ###

In [ ]:
print("hello")